@media screen and (max-width: 767px) {
    .acc__main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .acc__title{
        font-size: 2rem ;
        margin: 20px;
    }
    .acc__subtitle1 , .acc__subtitle2 , .acc__subtitle3 {
        font-size: 1rem;
        margin: 20px;
    }
    .acc__button {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
    .acc__cards {
        width: 275px;
    }
    .acc__section {
        flex-wrap: wrap;
    }
}

