@media screen and (max-width: 767px) {
    .ban__main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-left: 0px;
        margin-right: 0px;
    }
    .ban__title{
        font-size: 2rem ;
        margin: 20px;
    }
    .ban__subtitle {
        font-size: 1rem;
        margin: 20px;
        line-height: 160%;
    }
    .ban__button {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
    .ban__cards {
        width: 325px;
    }
    .ban__section {
        flex-wrap: wrap;
    }
    .ban__img1, .ban__img2, .ban__img3 {
        background-position: center;
        background-size: cover;
    }
}

