.ban__main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    color: #30110d;
    border-top: #30110d 8px solid ;
    margin-left: 10px;
    margin-right: 10px;
}


.ban__title {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 25px;
    margin-top: 10px;
}

.ban__subtitle {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: 15px;
}


.ban__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ban__cards {
    min-height: 275px;
    width: 570px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 0px 6px rgba(0,0,0,0.4);
    background-color: white;
}

.ban__img1 {
    background-image: url(/src/BanquetHall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.ban__img2 {
    background-image: url(/src/conference.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.ban__img3 {
    background-image: url(/src/BanquetHall-4.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

.ban__button {
    background-color: #30110d;
    text-decoration: none;
    font-size: 2.25rem;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 15px;
    cursor: pointer;
    font-family: 'Poppins', 'sans-serif';
}

.ban__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ban__btntxt {
    margin-left: 10px;
}

.ban__button:hover {
    opacity: 0.9;
}



