@media screen and (max-width: 767px) {
    .din__main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    .din__title{
        text-align: center;
        font-size: 2rem ;
        margin-left: 15px;
        
        padding-right: 20px;
    }
    .din__subtitle1 {
        text-align: center;
        font-size: 1rem;
        margin-left: 15px;
        
        padding-right: 20px;
        margin-bottom: 25px;
    }
    .din__button {
        font-size: 1.5rem;
        padding: 10px 15px;
        width: 250px;
        height: 60px;
        margin: auto;
        margin-bottom: 20px;
    }
    .din__cards {
        width: 325px;
    }
    .din__imgsection {
        flex-wrap: wrap;
    }
    .din__img1, .din__img2 {
        background-position: center;
        background-size: cover;
    }
}

