.din__main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
    color: #30110d;
    border-top: #30110d 8px solid ;
    margin-left: 10px;
    margin-right: 10px;
}


.din__button {
    background-color: #30110d;
    text-decoration: none;
    font-size: 2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins', 'sans-serif';
    width: 300px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 55px;
}

.din__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.din__btntxt {
    margin-left: 10px;
}



.din__button:hover {
    opacity: 0.9;
}

.din__title {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 700;
    font-size: 2.25rem;
    text-align: left;
    margin-left: 55px; 
    margin-bottom: 15px;
    margin-top: 50px;
    
    
}
.din__section:nth-child(1) {
    margin-top: 100px;
}

.din__subtitle1 {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 500;
    font-size: 1.25rem;
    text-align: left;
    margin-left: 55px;
    padding-right: 200px;
    margin-bottom: 25px;
    line-height: 160%;
    
}



.din__imgsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.din__cards {
    min-height: 275px;
    width: 570px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.4);
    background-color: #f2bc84;
}

.din__img1 {
    background-image: url(/src/indianthalibg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.din__img2 {
    background-image: url(/src/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}




