
.home__main {
    background-image: url('/src/hotel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    color: #30110d;
   
}



.home__title {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 45px;
}

.home__subtitle1 , .home__subtitle2 , .home__subtitle3 {
    font-family: 'Poppins' , 'sans-serif';
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 25px;
    margin-right: 1000px;
    margin-bottom: 15px;
    line-height: 160%;
}

.home__button {
    background-color: #30110d;
    text-decoration: none;
    font-size: 2.25rem;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 15px;
    cursor: pointer;
    font-family: 'Poppins', 'sans-serif';
}

.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home__btntxt {
    margin-left: 10px;
}

.home__button:hover {
    opacity: 0.9;
}





